
<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">

     <h1>Help </h1>
     <h1>{{>header}} </h1>
     <p1>{{title}} </p1>
    </div>
    <h1>{{>footer}} </h1>
</body>
</html>


